@model TUPApp.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}



<body>
    <div class="row">
        <div class="col">
            <div class="card mt-5" style="width: 20rem;">
                @*            <img src="~/Image/terms.png" />*@
                <div class="card-body text-center">
                    <h5 class="card-title">Please input you details in the following sections below.</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>

                    <div class="row mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Students" asp-action="Index">Personal Details</a></button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="EducationBgs" asp-action="Index">Education Details</a></button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Skills" asp-action="Index">Skills Details</a></button>
                        </div>
                    </div>
                   
                    <div class="row mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Experiences" asp-action="Index">Experience Details</a></button>
                        </div>
                    </div>

                    <div class="row mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Trainings" asp-action="Index">Trainings Details</a></button>
                        </div>
                    </div>

                    <div class="row  mb-2">
                        <div class="row">
                            <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Emergencies" asp-action="Index">Emergency Details</a></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        @*<div class="col">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Educational Attainment</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="EducationBgs" asp-action="Index">Input Details</a></button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Skills Set</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Skills" asp-action="Index">Input Details</a></button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Expereinces</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Experiences" asp-action="Index">Input Details</a></button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Trainings Attended</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Trainings" asp-action="Index">Input Details</a></button>
                </div>
            </div>
        </div>

        <div class="col">
            <div class="card mt-5" style="width: 20rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">Emergency Contact</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <button type="button" class="btn btn-md btn-success text-center"><a class="text-light text-decoration-none" asp-area="" asp-controller="Emergencies" asp-action="Index">Input Details</a></button>
                </div>
            </div>
        </div>*@
</body>
